---
import Page from '../../layouts/Page.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Page title="Blog">
	<section>
		<ul class="flex flex-col gap-8">
			{
				posts.map((post) => (
					<a href={`/blog/${post.slug}/`}>
						<li  class="transition-transform group rounded-lg flex flex-col bg-gray-100 min-h-[200px] sm:grid sm:grid-cols-[1fr_2fr] sm:hover:scale-[1.015]">
							<img
								src={post.data.heroImage}
								alt=""
								class="rounded-t-lg aspect-video object-cover self-stretch sm:rounded-l-lg sm:rounded-tr-none"
							>
							</img>
							<div class="p-4 flex flex-col gap-4">
								<div class="text-gray-600 uppercase text-xs font-bold">
									<FormattedDate date={post.data.pubDate} />
								</div>
								<h2 class="text-2xl font-bold group-hover:text-teal-600 transition-colors">
									{post.data.title}
								</h2>
								<div>{post.data.description}</div>
							</div>
							</li>
					</a>
				))
			}
		</ul>
	</section>
</Page>
