---
import Card from '../../components/Card.astro';
import ContentPage from '../../layouts/ContentPage.astro';
import JobsEmptyState from '../../components/jobs/JobsEmptyState.astro';

import { getCollection } from 'astro:content';

type ArrayElement<ArrayType extends readonly unknown[]> =
	ArrayType extends readonly (infer ElementType)[] ? ElementType : never;

const jobs = await getCollection('jobs', (job) => {
	return !job.data.isDraft && !job.data.isArchived;
});

function getLinkToOffer(job: ArrayElement<typeof jobs>) {
	return job.data.externalLink ? job.data.externalLink.url : `/join-us/${job.slug}`;
}
---

<ContentPage title="Join us">
	<p class="text-lg font-semibold">
		Use your skills to transform lives of many people with education.
	</p>
	<p>
		We're always looking forward to meeting people who want to combine work with mission.
		If you're one of them, contact us even there are no open positions relevant to your
		skillset.
	</p>
	<img
		src="https://bethink.space/wp-content/uploads/2021/12/zdjecia_Bethink064-scaled.jpg"
		alt=""
		class="aspect-[5/2] w-full object-cover rounded-xl xl:rounded-3xl"
	/>

	<h2>Open positions</h2>

	{
		jobs && jobs.length > 0 && (
			<ul class="not-prose">
				{jobs.map((job) => (
					<a
						href={getLinkToOffer(job)}
						class="group"
						target={job.data.externalLink ? '_blank' : '_self'}
					>
						<Card isHoverable={true}>
							<h3 class="text-xl font-bold group-hover:text-link">
								{job.data.title}
							</h3>
							<p class="text-sm">{job.data.salaryRange}</p>
							<p>{job.data.excerpt}</p>
						</Card>
					</a>
				))}
			</ul>
		)
	}

	{(!jobs || jobs.length === 0) && <JobsEmptyState />}
</ContentPage>
