---
import { Image } from 'astro:assets';
import ContentPage from '../layouts/ContentPage.astro';
import ContentPageImage from '../components/ContentPageImage.astro';
import Card from '../components/Card.astro';

import logoVue from '../images/stack/Icon-Logo-Vue.svg';
import logoTypeScript from '../images/stack/Icon-Logo-TypeScript.svg';
import logoLaravel from '../images/stack/Icon-Logo-Laravel.svg';
import logoNode from '../images/stack/Icon-Logo-Node-JS.svg';
import logoGo from '../images/stack/Icon-Logo-Go.svg';
import logoPython from '../images/stack/Icon-Logo-Python.svg';
import logoCypress from '../images/stack/Icon-Logo-Cypress.svg';
import logoArgo from '../images/stack/Icon-Logo-Argo.svg';
import logoKubernetes from '../images/stack/Icon-Logo-Kubernetes.svg';
import logoGoogleCloud from '../images/stack/Icon-Logo-Google-Cloud.svg';
import logoGoogleBigQuery from '../images/stack/Icon-Logo-Google-BigQuery.svg';
import logoMySQL from '../images/stack/Icon-Logo-MySQL.svg';

const howWeAddressChallenges = [
	{
		title: 'Constant learning',
		description:
			'We prioritize constant learning, fostering personal growth by dedicating work time to reading books, attending courses, and participating in conferences. This commitment ensures that our team stays abreast of the latest developments, bringing fresh insights to our approach and refining our strategies in response to the evolving landscape of e-learning.',
	},
	{
		title: 'Investing in systems',
		description:
			'Recognizing the evolution of our platform into a product development platform, we strategically shifted our focus to building flexible systems. This shift enables us to facilitate the development of more specific features and ensures scalability as we continue to grow and adapt to the dynamic needs of our users.',
	},
	{
		title: 'High-seniority team',
		description:
			'Our high-seniority team is composed of specialists capable of solving a spectrum of problems end-to-end. This strategic composition ensures agility and efficiency in problem-solving, allowing us to navigate challenges swiftly and comprehensively, providing effective solutions to complex issues.',
	},
	{
		title: 'Effective teamwork',
		description:
			'Effective teamwork is at the core of our approach. We are ready to experiment and test non-standard methods and processes to achieve the highest effectiveness. Going beyond traditional agile methodologies, we seek custom, lean solutions to deliver the most value to our users.',
	},
];

const stack = [
	{
		src: logoVue,
		alt: 'Logo of Vue',
		title: 'Vue',
	},
	{
		src: logoTypeScript,
		alt: 'Logo of TypeScript',
		title: 'TypeScript',
	},
	{
		src: logoLaravel,
		alt: 'Logo of Laravel',
		title: 'Laravel',
	},
	{
		src: logoNode,
		alt: 'Logo of Node JS',
		title: 'Node JS',
	},
	{
		src: logoPython,
		alt: 'Logo of Python',
		title: 'Python',
	},

	{
		src: logoGo,
		alt: 'Logo of Go',
		title: 'Go',
	},

	{
		src: logoCypress,
		alt: 'Logo of Cypress',
		title: 'Cypress',
	},
	{
		src: logoArgo,
		alt: 'Logo of Argo CD',
		title: 'Argo CD',
	},

	{
		src: logoKubernetes,
		alt: 'Logo of Kubernetes',
		title: 'Kubernetes',
	},
	{
		src: logoGoogleCloud,
		alt: 'Logo of Google Cloud',
		title: 'Google Cloud',
	},
	{
		src: logoGoogleBigQuery,
		alt: 'Logo of Google BigQuery',
		title: 'Google BigQuery',
	},
	{
		src: logoMySQL,
		alt: 'Logo of MySQL',
		title: 'MySQL',
	},
];

const testimonials = [
	{
		name: 'Maciej Brencz',
		role: 'Senior Software Engineer',
		photo: 'https://res.cloudinary.com/bethink/image/upload/v1700725005/Photo-Maciej-Brencz-100x100_wdtup7.jpg',
		text: `Joining Betink, I aimed to relive the startup atmosphere, discover new and exciting technological challenges, and shed the constraints associated with silos in a Big Corporation. I was not disappointed. We are pushing forward—our technological stack strengthens with each passing month, yet thankfully, the startup atmosphere, mutual camaraderie, and openness still permeate our daily work.`,
	},
	{
		name: 'Igor Rogatty',
		role: 'Tech lead',
		photo: 'https://res.cloudinary.com/bethink/image/upload/v1700725005/Photo-Igor-Rogatty-100x100_vyrgbv.jpg',
		text: `Since joining Bethink, I have witnessed continuous development. Our product is of increasingly better quality, and the challenges are becoming more intriguing. The team's atmosphere remains unchanged—we maintain a healthy distance from each other, and laughter is a constant companion. With our wealth of experience and commitment, work is an absolute pleasure.`,
	},
	{
		name: 'Martyna Przygoda',
		role: 'UX/UI Designer',
		photo: 'https://res.cloudinary.com/bethink/image/upload/v1700725005/Photo-Martyna-Przygoda-100x100_qpfpff.jpg',
		text: `As a UX designer, I dreamt of working in a place that offers growth, product awareness, and the feeling that my actions tangibly change someone's experiences. Bethink provides all of this and more. As an added bonus, it comes with fantastic people, a culture of openness and feedback, and a friendly atmosphere.`,
	},
];
---

<ContentPage title="Technology">
	<p class="text-lg font-semibold">
		Technology is the cornerstone of Bethink's operations, propelling innovation and
		shaping the future of e-learning. At the heart of our technological prowess is the
		creation of Klasa, a custom platform that started as a solution for a single course and
		has evolved into a multi-tenant application, navigating numerous scaling challenges
		along its transformative journey.
	</p>

	<h2>Atomic Content</h2>

	<p>
		A pivotal aspect of our technological approach is the implementation of Atomic Content.
		This innovative strategy allows us to seamlessly reuse content across various contexts,
		creating interconnected links that compose diverse and engaging learning experiences.
	</p>

	<p>
		More than just content reuse, it provides students with a contextual space for asking
		questions precisely where they arise, fostering a dynamic and interactive educational
		environment. Additionally, the Atomic Content approach unlocks unique analytical
		capabilities that enrich the learning process, offering insights that go beyond
		traditional learning models.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700505540/bethinkgroup__hero.png"
		caption="Atomic content approach enables content composition and contextual communication"
		classes="max-w-[500px] mx-auto"
	/>

	<h2>Unique Challenges</h2>

	<p>
		Bethink's tech department excels in navigating unique challenges inherent in the realm
		of e-learning technology. Prioritizing educational value is a nuanced task, requiring a
		delicate balance between user and educational experiences.
	</p>

	<p>
		This demands the creation of intuitive interfaces that guide students toward choices
		that may be more challenging but ultimately more enriching. Tracking users' progress
		over time is a distinctive challenge that necessitates the management of substantial
		data. This, in turn, leads to scaling challenges usually associated with platforms
		experiencing much higher traffic.
	</p>

	<p>
		Moreover, supporting multi-tenancy for different brands adds another layer of
		complexity. Each brand has its distinct visual language and audience needs, requiring a
		system that balances flexibility and standardization, ensuring it responds to diverse
		needs while remaining easy to maintain.
	</p>

	<h2>How We Address These Challenges</h2>

	<div class="not-prose grid grid-cols-1 gap-6 md:grid-cols-2 lg:-mx-24">
		{
			howWeAddressChallenges.map((item) => (
				<Card>
					<p class="text-xl font-semibold">{item.title}</p>
					<p>{item.description}</p>
				</Card>
			))
		}
	</div>

	<h2>Our stack</h2>
	<div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
		{
			stack.map((item) => (
				<div class="flex items-center justify-center">
					<Image
						src={item.src}
						alt={item.alt}
						width="40"
						height="40"
						class="grayscale w-auto"
					/>
				</div>
			))
		}
	</div>

	<h2>Testimonials from our team</h2>
	<div class="not-prose grid grid-cols-1 gap-6 md:grid-cols-3 lg:-mx-24">
		{
			testimonials.map((testimonial) => (
				<Card>
					<p class="text-sm leading-6">{testimonial.text}</p>
					<div class="flex gap-4 items-center">
						<img
							src={testimonial.photo}
							alt={testimonial.name}
							width="50"
							height="50"
							class="rounded-full"
						/>
						<div>
							<p>{testimonial.name}</p>
							<p class="text-sm text-gray-500">{testimonial.role}</p>
						</div>
					</div>
				</Card>
			))
		}
	</div>
</ContentPage>
