---
import { type PageMeta } from '../types';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_LINK_IMAGE } from '../consts';

interface Props {
	meta?: Partial<PageMeta>;
}

const { meta } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const DEFAULT_META: PageMeta = {
	title: SITE_TITLE,
	description: SITE_DESCRIPTION,
	image: SITE_LINK_IMAGE,
};

const mergedMeta = { ...DEFAULT_META, ...meta };
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{mergedMeta.title}</title>
<meta name="title" content={mergedMeta.title} />
<meta name="description" content={mergedMeta.description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={mergedMeta.title} />
<meta property="og:description" content={mergedMeta.description} />
<meta property="og:image" content={new URL(mergedMeta.image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={mergedMeta.title} />
<meta property="twitter:description" content={mergedMeta.description} />
<meta property="twitter:image" content={new URL(mergedMeta.image, Astro.url)} />

<!-- Google Tag Manager -->
<script lang="javascript">
	(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-5NB2ZP64');
</script>
<!-- End Google Tag Manager -->
